@import "variables";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  border-top: 7px solid #1a1f26;
  color: #7e8287;
  margin: 0;
  position: relative;
}