/* -------------------------------------------------------------- */

$inset-bg-color: #fff;
$inset-shadow-color: #2f2f2f;
$inset-shadow-highlight-color: #000;
$flax_color: #f1eee5;

/* -------------------------------------------------------------- */

$dropdown_arrow_hover_img: "img/drop_arrow_hover.png";
$drop_arrow_img: "img/drop_arrow.png";
$drop_arrow_right_hover_img: "img/drop_arrow_right_hover.png";
$drop_arrow_righ_img: "img/drop_arrow_right.png";
$popup_wrapper_img: "img/popup_wrapper.png";
$btm_dark_popup_img: "img/btm_dark_popup.png";
$opiton_img_img: "img/opiton_img.png";
$widgets_bg_img: "img/widgets_bg.png";

/* -------------------------------------------------------------- */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  border-top: 7px solid #1a1f26;
  color: #7e8287;
  margin: 0;
  position: relative;
}

.container {
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  background: radial-gradient(#232a33 15%, transparent 16%) 0 0, radial-gradient(#272e38 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #242a34;
  background-size: 16px 16px;
  border-top: 1px solid #343d4b;
  padding-top: 45px;
}

.top-header {
  display: flex;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    &:hover,
    &:visited,
    &:focus {
      color: $flax_color;
    }
  }
  h1 {
    letter-spacing: -2px;
  }
}

.slogan::before {
  content: "|";
  display: inline-block;
  padding-right: 5px;
}

.slogan {
  color: #7a7c81;
  float: left;
  font: italic 11px/52px "georgia";
  padding-left: 1em;
}

.top-navigation {
  display: flex;
  flex-grow: 1;
}

.top-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  list-style: none;
}

.menu-item {
  padding: 0 12px 20px 0;
  a {
    color: $flax_color;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    padding: 7px 10px;
    &:hover,
    &:focus {
      color: $flax_color;
      background: linear-gradient(#171717, #1a1a1a);
      border-radius: 5px;
      text-decoration: none;
    }
  }
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  display: none;
}

.dropdown-item::after {
  width: 16px;
  height: 16px;
  background: url(#{$drop_arrow_img}) no-repeat right 9px center,
  linear-gradient(#171717, #1a1a1a);
  border-radius: 5px;
}

.promo__header {
  color: $flax_color;
  font-family: "Georgia", sans-serif;
  font-style: italic;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 25px;
  text-align: center;
}

.promo__content {
  color: #6b96a8;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.slider {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.light-line {
  width: 100%;
  height: 1em;
  background-color: rgba(247, 243, 243, 0.05);
}

.features {
  background-color: black;
  background-image: url(#{$popup_wrapper_img});
  &::after,
  &::before {
    content: "";
    display: block;
    background-image: url(#{$btm_dark_popup_img});
    background-size: 16px;
    width: 100%;
    height: 20px;
  }
}

.features__wrapper {
  display: flex;
}

.feature-list {
  flex-basis: 66.6%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.feature__item {
  display: flex;
  flex-basis: 45%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.feature__image {
  position: relative;
  flex-grow: 0;
  padding-right: 1em;
}

.feature__image img {
  box-shadow: 0 0 3px 3px black;
}

.feature__action {
  position: absolute;
  top: -5px;
  right: 5px;
}

.feature__title {
  margin-bottom: 0.25em;
  color: $flax_color;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
}

.feature__description {
  color: #979797;
  font-size: 12px;
  line-height: 17px
}

.button--circle {
  border-radius: 15px;
  width: 25px;
  height: 25px;
  box-shadow: 0 0 0px 4px rgba(115, 115, 115, 0.38);
  border-style: none;
}

.button--yellow {
  border-radius: 50px;
  color: #252525;
  font: italic 12px/20px "georgia";
  margin-right: 4px;
  padding: 9px 25px;
  text-decoration: none;
  background-image: linear-gradient(to top, #e1c049, #ccba3a);
  border-style: none;
  &:active {
    background-image: linear-gradient(to top, #e1c049, #faa51a);
  }
}

.information__title {
  color: $flax_color;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
}

.main-line {
  background-color: #e6e3da;
  height: 8px;
}

.articles {
  background-color: #f6f4ef;
}

.articles__wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 45px;
}

.article {
  flex-basis: 33%;
}

.article__header {
  color: #333;
  padding-bottom: 25px;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
}

.article__body {
  color: #444;
  padding-bottom: 25px;
}

.image-caption {
  background-color: #eeebe4;
  border-radius: 5px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #e5e2d9;
  color: #888888;
  font: italic 11px/20px "Georgia";
  margin-bottom: 25px;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.content__image {
  position: relative;
}

.content__action {
  position: absolute;
  top: -5px;
  right: 5px;
}

.ads-block {
  background-color: #f6f4ef;
  padding-bottom: 55px;
}

.ads-block__wrapper {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #f5f5f5, #e6e6e6);
  border: 1px solid #d1cec5;
  border-radius: 5px;
  padding: 20px 25px;
}

.ads-block__header {
  color: #444444;
  font-style: italic;
  line-height: 20px;
  margin: 0;
  padding-bottom: 5px;
  text-align: left;
}

.ads-block__description {
  color: #444444;
  font-size: 12px;
  line-height: 20px;
}

.activities {
  background-color: #f6f4ef;
  padding-bottom: 2em;
}

.activities__wrapper {
  display: flex;
  justify-content: space-between;
}

.activities__column {
  flex-basis: 30%;
}

.activities__post {
  display: flex;
  align-items: flex-start;
  img {
    padding-top: 5px;
    padding-right: 1em;
  }
  padding-bottom: 2em;
  border-bottom: 1px solid #e4e1d9;
}

.activities__post-header {
  color: #333;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
}

.activities__post-meta {
  font-size: 11px;
  font-style: italic;
  line-height: 20px;
}

.activities__post-date {
  color: #888;
}

.activities__post-comments {
  color: #444;
}

.activities__comment {
  border-bottom: 1px solid #e4e1d9;
}

.activities__comments-header {
  color: #333;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
}

.activities__comment-link {
  color: #5597b2;
  display: inline;
  padding-bottom: 3px;
  border-bottom: 1px solid #cbc7bd;
}

.activities__comment-date {
  display: block;
  color: #888;
  font-size: 11px;
  font-style: italic;
  line-height: 20px;
}

.activities__reviews-header {
  color: #333;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
}

.review__author {
  display: flex;
  height: 65px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  img {
    height: 55px;
    width: 55px;
    padding-right: 1em;
    flex-grow: 0;
  }
}

.review__name {
  font-weight: bold;
}

.review__company {
  color: #888;
  font-size: 11px;
  font-style: italic;
  line-height: 20px;
}

.review__content {
  color: #444;
  font-size: 12px;
  padding-bottom: 20px;
  font-style: italic;
}

.top-footer {
  background-color: black;
  background-image: url(#{$popup_wrapper_img});
  &::after,
  &::before {
    content: "";
    display: block;
    background-image: url(#{$btm_dark_popup_img});
    background-size: 16px;
    width: 100%;
    height: 20px;
  }
}

.top-footer__wrapper {
  display: flex;
}

.footer__bottom-wrapper {
  display: flex;
}

.footer__bottom {
  background-color: #0d0d0d;
  a {
    text-decoration: none;
    &:hover,
    &:visited,
    &:focus {
      color: $flax_color;
    }
  }
}

.copyright {
  flex-basis: 70%;
}

.poweredby {
  flex-basis: 30%;
}

.footer__column {
  padding-right: 5%;
}