/* -------------------------------------------------------------- */

$inset-bg-color: #fff;
$inset-shadow-color: #2f2f2f;
$inset-shadow-highlight-color: #000;
$flax_color: #f1eee5;

/* -------------------------------------------------------------- */

$dropdown_arrow_hover_img: "img/drop_arrow_hover.png";
$drop_arrow_img: "img/drop_arrow.png";
$drop_arrow_right_hover_img: "img/drop_arrow_right_hover.png";
$drop_arrow_righ_img: "img/drop_arrow_right.png";
$popup_wrapper_img: "img/popup_wrapper.png";
$btm_dark_popup_img: "img/btm_dark_popup.png";

/* -------------------------------------------------------------- */
